body{
  background-color: gray;
}
h1{
  color: white;
  text-align: center;
  margin:auto;
}
input {
  height: 50px;
  width: 500px;
  border:3px solid blue;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
}
ol{
  border: 2px solid white;
  padding: 25px;
  border-radius: 5px;
  background-color: ghostwhite;

}
li{
  font-family: sans-serif;
}
input:focus{
  border:3px solid green;
}

button {
  height: 30px;
  width: 150px;
  font-size: 20px;
  font-family: -webkit-body;
  border-radius: 5px;
  border: 2px solid blanchedalmond;
  cursor: pointer;
  }
